section.home {
  width: 70%;
  height: min-content;
  margin: 0 auto;
}

div.body-text > div > h1 {
  /* color: #ebecf0; */
  color: #00bcd4;
}

section.home > div.body-text {
  margin-top: 150px;
  width: 50%;
}

div.body-text > div > h2.featured-text {
  font-size: 60px;
  color: #ebecf0;
}

div.body-text > div > h3 {
  font-size: 30px;
  color: lightslategray;
}

div.img {
  margin-top: 185px;
  margin-left: 8em;
}

section.home > div.img > img {
  border-radius: 10%;
}

h2.featured-text {
  margin: 0 auto;
}
