div.main {
  width: 70%;
  margin: 0 auto;
}

section.work-main > h1.featured {
  margin-top: 4rem;
}

section.work-main {
  padding-top: 2rem;
  height: 100%;
}

section.work-main > div.featured-card {
  padding: auto;
  height: 50vh;
  width: 70vw;
}

div.featured-card > div.card-img {
  height: 50vh;
  width: 30vw;
}

div.featured-card > div.card-img > img {
  width: fit-content;
}

div.featured-card > div.project-text {
  position: relative;
  text-align: right;
  color: whitesmoke;
  margin: 0;
  padding: 3rem 4rem;
}

div.project-text > h1.featured-header {
  color: #00bcd4;
  font-size: 1.2rem;
}

div.project-text > h2.featured-name {
  font-size: 2rem;
}

section.projects-section {
  clear: both;
}

section.projects-section > h1.other-projects-header {
  text-align: center;
  color: whitesmoke;
}

section.projects-section > p.archive-text {
  text-align: center;
  color: #00bcd4;
}

section.projects-section > p.archive-text:hover {
  cursor: pointer;
}

section.projects-section > ul.projects-grid {
  padding: 0;
  display: grid;
  position: relative;
  list-style: none;
  border: 2px solid black;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 15px;
}

section.projects-section > ul.projects-grid > li.grid-item {
  border: 1px solid white;
}
li.grid-item > div.grid-inner {
  padding: 1rem 1rem;
}

div.grid-inner > ul.project-links {
  color: slategray;
  padding: 0;
}

ul.project-links > li.project-link {
  display: inline;
  list-style-type: none;
  padding: 0 0.5rem;
}

ul.project-links > li.project-link:hover {
  cursor: pointer;
  color: #00bcd4;
}

div.grid-inner > h1.project-title {
  text-align: center;
  color: white;
}

div.grid-inner > h2.project-description {
  height: 192px;
  color: lightslategrey;
  font-size: 1rem;
}

div.grid-inner > ul.project-tech-list {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

ul.project-tech-list > li.tech {
  color: lightslategrey;
  display: inline;
  vertical-align: middle;
  margin: auto;
  padding: auto;
}
