div.container {
  height: min-content;
}

div.main {
  width: 70%;
  margin: 0 auto;
}

section.work-main > h1.featured {
  margin-top: 4rem;
}

section.work-main {
  padding-top: 2rem;
  height: 100%;
}

section.work-main > div.featured-card {
  padding: auto;
  height: 50vh;
}

section.work-main > div.featured-card > div.card-img {
  height: 50vh;
  width: 30vw;
}

section.work-main div.main > div.featured-card > div.card-img > img {
  width: fit-content;
}

section.work-main > div.featured-card > div.project-text {
  margin: 0;
  width: 50vw;
  padding-right: 10vw;
}

section.projects-section {
  clear: both;
}

section.projects-section > ul.projects-grid {
  padding: 0;
  display: grid;
  position: relative;
  list-style: none;
  border: 2px solid black;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 15px;
}

section.projects-section > ul.projects-grid > li.grid-item {
  border: 1px solid white;
}

section.projects-section > ul.projects-grid > li.grid-item > div.grid-inner {
}
